:host {
  --card-image-bg: grey;
  --card-title-bg: hsla(0, 0%, 30%, 0.5);
  --card-title-color: white;

  display: block;
  max-width: var(--card-width);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-elevation-medium);
  background: var(--surface-bg);
  padding: var(--spacer);
  flex: 1;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
}

:host:hover {
  box-shadow: var(--shadow-elevation-high);
}

figure {
  margin: calc(var(--spacer) * -1);
  margin-block-end: var(--spacer);
  display: grid;
  align-items: flex-end;
  aspect-ratio: 1 / 1;
  position: relative;
}

figure figcaption,
figure img {
  grid-area: 1 / 1;
}

figure img {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background: var(--card-image-bg);
}

figure figcaption {
  padding: var(--spacer);
  background: var(--card-title-bg);
  color: var(--card-title-color);
  border-block-start: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  margin: 0;
  font-weight: bold;
}

p {
  margin: 0;
}

figure figcaption,
p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.discount-flag {
  grid-area: 1/1;
  align-self: flex-start;
  justify-self: flex-end;

  margin: 4px;
  padding: 8px 12px;
  border-radius: calc(var(--border-radius) - 2px);
  background: var(--bs-red);
  color: var(--bs-white);
  width: min-content;
}

:host.disliked {
  box-shadow: 0 0 0 3px var(--bs-red);
  color: var(--bs-red);
}

:host.liked {
  box-shadow: 0 0 0 3px var(--bs-green);
  color: var(--bs-green);
}
