<main class="p-4">
  <h1 class="h-4 mb-4">Restaurants</h1>

  <div class="d-flex gap-4">
    <app-restaurant-card
      imageUrl="https://source.unsplash.com/collection/345703/300x300?v=1"
      name="Jammi Kebabai"
      address="Stoties g. 22"
      [distanceInKm]="4.5"
      [rating]="7.5"
    ></app-restaurant-card>

    <app-restaurant-card
      imageUrl="https://source.unsplash.com/collection/345703/300x300?v=2"
      name="Čili Picerija"
      address="Vikingų g. 4"
      [distanceInKm]="1"
      [rating]="4.5"
    ></app-restaurant-card>

    <app-restaurant-card
      imageUrl="https://source.unsplash.com/collection/345703/300x300?v=3"
      name="Jammi Kebabai"
      address="Stoties g. 22"
      [distanceInKm]="4.5"
      [rating]="7.5"
    ></app-restaurant-card>
  </div>
</main>
